* {
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    color: skyblue;
}

header {
    margin: 1em;
}

main {
    display: flex;
    margin: 1em;
}

section {
    padding: 1em;
    min-height: 88vh;
}

h1 {
    margin-left: 2em;
    font-family:monospace;
    font-size: 2.5em;
}

.instructions {
    background-color: burlywood;
}

.troubleshooting {
    background-color: lavender;
}

.correct {
    background-color: rgb(0, 0, 0);
}

section h2 {
    text-align: center;
}

.troubleshooting img {
    width: 600px;
    height: auto;
}

.troubleshooting p:nth-last-child(1) {
  margin: 2em;
}

#show {
  height: 3em;
}

iframe {
  display: block;
	margin: 0 auto; 
}